# Compiled class file
*.pyc

# Log file
*.log

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# directories
bin
include
lib
local
share
.cache
source/.cache
source/.idea
source/.coverage

# support file
access_key.sh

